extends ./layout.jade

block title
    title Article Title

block content
    p Hello,
    p We received a request to reset the password for the Prediction League account associated with.
    a Reset Password
    p If you didn’t request to reset your password, let us know by replying directly to this email. No changes were made to your account yet.
    p Need help? Contact us.
    p Thanks,
    p Prediction League